/*
 * Dark stylesheet for TeamSpeak 3 client
 * Special file for macOS, loaded in addition to global dark.qss stylesheet
 *
 * Autor: dante696 from TeamSpeak-Systems GmbH
 * Copyright (c) 2022 Hardix - fastguard x baroynetwork
 */

/* macOS specific fixes */
QComboBox,
QRadioButton {
    font-size: 12pt;
}
